name: Deploy to GitHub Pages

on:
  push:
    branches:
      - main

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
        # So we can have more accurate last updated date
        fetch-depth: 0
    - name: Setup Pages
      uses: actions/configure-pages@v5
    - uses: actions/setup-python@v5
      with:
        python-version: '3.12'
    - name: Install Inkscape and ImageMagick
      run: |
        sudo add-apt-repository -y universe
        sudo add-apt-repository -y ppa:inkscape.dev/stable
        sudo apt-get update
        sudo apt install -y inkscape imagemagick
    - name: Install Jinja2 and Markdown
      run: |
        pip install jinja2-cli==0.8.2 Markdown==3.8
    - name: Install HTML minifier
      run: |
        wget https://github.com/wilsonzlin/minify-html/releases/download/v0.16.4/minhtml-0.16.4-x86_64-unknown-linux-gnu -O minhtml
        chmod +x ./minhtml
    - name: Build site
      run: |
        mkdir -p _site/
        jinja2 -D content="$(python -m markdown README.md)" -D updated="$(git log -1 --pretty='format:%cD' -- README.md)" -D current_timestamp="$(date +%Y%m%d%H%M%S)" ./index.jinja | ./minhtml --keep-html-and-head-opening-tags --keep-closing-tags --minify-css --minify-js > _site/index.html
    - name: Build Open Graph images
      run: |
        inkscape --export-area-page --export-width=1200 --export-height=630 --export-type=png --export-png-antialias=3 --export-filename="./_site/og.png" ./og.svg
    - name: Build favicon
      run: |
        inkscape --export-area-page --export-width=144 --export-height=144 --export-type=png --export-png-antialias=3 --export-filename="./_site/favicon.png" ./favicon.svg
        magick ./_site/favicon.png -define icon:auto-resize=48,32,16 ./_site/favicon.ico
    - name: Upload artifact
      uses: actions/upload-pages-artifact@v3

  deploy:
    runs-on: ubuntu-latest
    needs: build
    permissions:
      pages: write
      id-token: write
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
