<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <title>Achieve Value Daily</title>
    <meta name="description" content="A one-principle manifesto for agile software development">
    <style>
      /*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */

      /* Document
         ========================================================================== */

      /**
       * 1. Correct the line height in all browsers.
       * 2. Prevent adjustments of font size after orientation changes in iOS.
       */

      html {
        line-height: 1.15; /* 1 */
        -webkit-text-size-adjust: 100%; /* 2 */
      }

      /* Sections
         ========================================================================== */

      /**
       * Remove the margin in all browsers.
       */

      body {
        margin: 0;
      }

      /**
       * Render the `main` element consistently in IE.
       */

      main {
        display: block;
      }

      /**
       * Correct the font size and margin on `h1` elements within `section` and
       * `article` contexts in Chrome, Firefox, and Safari.
       */

      h1 {
        font-size: 2em;
        margin: 0.67em 0;
      }

      /* Grouping content
         ========================================================================== */

      /**
       * 1. Add the correct box sizing in Firefox.
       * 2. Show the overflow in Edge and IE.
       */

      hr {
        box-sizing: content-box; /* 1 */
        height: 0; /* 1 */
        overflow: visible; /* 2 */
      }

      /**
       * 1. Correct the inheritance and scaling of font size in all browsers.
       * 2. Correct the odd `em` font sizing in all browsers.
       */

      pre {
        font-family: monospace, monospace; /* 1 */
        font-size: 1em; /* 2 */
      }

      /* Text-level semantics
         ========================================================================== */

      /**
       * Remove the gray background on active links in IE 10.
       */

      a {
        background-color: transparent;
      }

      /**
       * 1. Remove the bottom border in Chrome 57-
       * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
       */

      abbr[title] {
        border-bottom: none; /* 1 */
        text-decoration: underline; /* 2 */
        text-decoration: underline dotted; /* 2 */
      }

      /**
       * Add the correct font weight in Chrome, Edge, and Safari.
       */

      b,
      strong {
        font-weight: bolder;
      }

      /**
       * 1. Correct the inheritance and scaling of font size in all browsers.
       * 2. Correct the odd `em` font sizing in all browsers.
       */

      code,
      kbd,
      samp {
        font-family: monospace, monospace; /* 1 */
        font-size: 1em; /* 2 */
      }

      /**
       * Add the correct font size in all browsers.
       */

      small {
        font-size: 80%;
      }

      /**
       * Prevent `sub` and `sup` elements from affecting the line height in
       * all browsers.
       */

      sub,
      sup {
        font-size: 75%;
        line-height: 0;
        position: relative;
        vertical-align: baseline;
      }

      sub {
        bottom: -0.25em;
      }

      sup {
        top: -0.5em;
      }

      /* Embedded content
         ========================================================================== */

      /**
       * Remove the border on images inside links in IE 10.
       */

      img {
        border-style: none;
      }

      /* Forms
         ========================================================================== */

      /**
       * 1. Change the font styles in all browsers.
       * 2. Remove the margin in Firefox and Safari.
       */

      button,
      input,
      optgroup,
      select,
      textarea {
        font-family: inherit; /* 1 */
        font-size: 100%; /* 1 */
        line-height: 1.15; /* 1 */
        margin: 0; /* 2 */
      }

      /**
       * Show the overflow in IE.
       * 1. Show the overflow in Edge.
       */

      button,
      input { /* 1 */
        overflow: visible;
      }

      /**
       * Remove the inheritance of text transform in Edge, Firefox, and IE.
       * 1. Remove the inheritance of text transform in Firefox.
       */

      button,
      select { /* 1 */
        text-transform: none;
      }

      /**
       * Correct the inability to style clickable types in iOS and Safari.
       */

      button,
      [type="button"],
      [type="reset"],
      [type="submit"] {
        -webkit-appearance: button;
      }

      /**
       * Remove the inner border and padding in Firefox.
       */

      button::-moz-focus-inner,
      [type="button"]::-moz-focus-inner,
      [type="reset"]::-moz-focus-inner,
      [type="submit"]::-moz-focus-inner {
        border-style: none;
        padding: 0;
      }

      /**
       * Restore the focus styles unset by the previous rule.
       */

      button:-moz-focusring,
      [type="button"]:-moz-focusring,
      [type="reset"]:-moz-focusring,
      [type="submit"]:-moz-focusring {
        outline: 1px dotted ButtonText;
      }

      /**
       * Correct the padding in Firefox.
       */

      fieldset {
        padding: 0.35em 0.75em 0.625em;
      }

      /**
       * 1. Correct the text wrapping in Edge and IE.
       * 2. Correct the color inheritance from `fieldset` elements in IE.
       * 3. Remove the padding so developers are not caught out when they zero out
       *    `fieldset` elements in all browsers.
       */

      legend {
        box-sizing: border-box; /* 1 */
        color: inherit; /* 2 */
        display: table; /* 1 */
        max-width: 100%; /* 1 */
        padding: 0; /* 3 */
        white-space: normal; /* 1 */
      }

      /**
       * Add the correct vertical alignment in Chrome, Firefox, and Opera.
       */

      progress {
        vertical-align: baseline;
      }

      /**
       * Remove the default vertical scrollbar in IE 10+.
       */

      textarea {
        overflow: auto;
      }

      /**
       * 1. Add the correct box sizing in IE 10.
       * 2. Remove the padding in IE 10.
       */

      [type="checkbox"],
      [type="radio"] {
        box-sizing: border-box; /* 1 */
        padding: 0; /* 2 */
      }

      /**
       * Correct the cursor style of increment and decrement buttons in Chrome.
       */

      [type="number"]::-webkit-inner-spin-button,
      [type="number"]::-webkit-outer-spin-button {
        height: auto;
      }

      /**
       * 1. Correct the odd appearance in Chrome and Safari.
       * 2. Correct the outline style in Safari.
       */

      [type="search"] {
        -webkit-appearance: textfield; /* 1 */
        outline-offset: -2px; /* 2 */
      }

      /**
       * Remove the inner padding in Chrome and Safari on macOS.
       */

      [type="search"]::-webkit-search-decoration {
        -webkit-appearance: none;
      }

      /**
       * 1. Correct the inability to style clickable types in iOS and Safari.
       * 2. Change font properties to `inherit` in Safari.
       */

      ::-webkit-file-upload-button {
        -webkit-appearance: button; /* 1 */
        font: inherit; /* 2 */
      }

      /* Interactive
         ========================================================================== */

      /*
       * Add the correct display in Edge, IE 10+, and Firefox.
       */

      details {
        display: block;
      }

      /*
       * Add the correct display in all browsers.
       */

      summary {
        display: list-item;
      }

      /* Misc
         ========================================================================== */

      /**
       * Add the correct display in IE 10+.
       */

      template {
        display: none;
      }

      /**
       * Add the correct display in IE 10.
       */

      [hidden] {
        display: none;
      }
    </style>
    <style>
      body {
        /* Geometric Humanist from https://modernfontstacks.com/ */
        font-family: Avenir, Montserrat, Corbel, 'URW Gothic', source-sans-pro, sans-serif;
        background: linear-gradient(45deg, #fabb02 0%, #ffe645 100%);
        background-attachment: fixed;
        color: #0b0c0c;
      }
      main,
      footer {
        padding: 20px 10px;
        margin: 0 auto;
        max-width: 700px;
      }
      footer {
        padding: 20px 10px 40px 10px;
      }
      svg {
        display: block;
        margin: 0 auto 20px auto;
        fill: #0b0c0c;
      }
      h1, h4, p {
        margin-top: 0;
      }
      h1 {
        text-align: center;
        margin-bottom: 10px;
        font-weight: 600;
      }
      h4 {
        font-size: 22px;
        font-weight: 600;
        margin-bottom: 5px;
        margin-top: 20px;
        line-height: 1.3;
      }
      p {
        margin-bottom: 10px;
        line-height: 1.6;
        font-size: 16px;
      }
      h1 + p {
        text-align: center;
        margin-bottom: 30px;
      }
      a,
      a:visited {
        color: #0b0c0c;
      }
    </style>
  </head>
  <body>
    <main>
        <svg width="150" height="150" version="1.1" viewBox="0 0 1200 1200" xmlns="http://www.w3.org/2000/svg">
           <path d="m923.62 734.25c-3.375 0-7.125-0.375-10.875-1.5-19.875-6-31.125-26.625-25.125-46.5 8.25-27.75 12.375-56.625 12.375-85.875 0-147.38-109.88-275.25-255.38-296.62-20.625-3-34.5-22.125-31.5-42.75s22.125-34.5 42.75-31.5c182.25 27 319.5 186.38 319.5 370.88 0 36.375-5.25 72.75-15.75 107.25-4.875 16.125-19.875 26.625-36 26.625z"/>
           <path d="m603.75 975c-27.375 0-54.75-3-81.75-9.375-97.5-22.5-180.38-82.5-233.25-169.5-108-176.62-55.875-409.5 115.88-519.38 40.125-25.875 84.375-43.125 131.62-51.375 15-3 30 4.125 38.25 16.875s7.875 29.25-1.125 41.625c-70.875 100.12-75 233.25-10.5 338.62 64.125 105 181.88 159 300.38 138.38 14.625-3 30 4.125 38.25 16.875s7.875 29.25-1.125 41.625c-27.75 39.375-62.625 72.75-102.75 98.25-58.875 37.875-126 57-193.88 57zm-137.25-647.25c-7.5 3.75-14.625 7.875-21.375 12.375-137.62 87.75-178.88 274.88-92.25 417 42.375 69.375 108.38 117.38 186 135.38 75.375 17.625 153 4.125 218.62-37.875 7.875-4.875 15-10.125 22.125-15.75-113.62-10.5-217.88-74.25-280.5-177-62.625-102.38-73.125-225.75-32.625-334.12z"/>
           <path d="m600 1162.5c-20.625 0-37.5-16.875-37.5-37.5v-75c0-20.625 16.875-37.5 37.5-37.5s37.5 16.875 37.5 37.5v75c0 20.625-16.875 37.5-37.5 37.5z"/>
           <path d="m228.75 1008.8c-9.75 0-19.125-3.75-26.625-10.875-14.625-14.625-14.625-38.25 0-52.875l52.875-52.875c14.625-14.625 38.25-14.625 52.875 0s14.625 38.25 0 52.875l-52.875 52.875c-7.5 7.5-16.875 10.875-26.625 10.875z"/>
           <path d="m150 637.5h-75c-20.625 0-37.5-16.875-37.5-37.5s16.875-37.5 37.5-37.5h75c20.625 0 37.5 16.875 37.5 37.5s-16.875 37.5-37.5 37.5z"/>
           <path d="m281.62 319.12c-9.75 0-19.125-3.75-26.625-10.875l-52.875-52.875c-14.625-14.625-14.625-38.25 0-52.875s38.25-14.625 52.875 0l52.875 52.875c14.625 14.625 14.625 38.25 0 52.875-7.5 7.5-16.875 10.875-26.625 10.875z"/>
           <path d="m600 187.5c-20.625 0-37.5-16.875-37.5-37.5v-75c0-20.625 16.875-37.5 37.5-37.5s37.5 16.875 37.5 37.5v75c0 20.625-16.875 37.5-37.5 37.5z"/>
           <path d="m918.38 319.12c-9.75 0-19.125-3.75-26.625-10.875-14.625-14.625-14.625-38.25 0-52.875l52.875-52.875c14.625-14.625 38.25-14.625 52.875 0s14.625 38.25 0 52.875l-52.875 52.875c-7.5 7.5-16.875 10.875-26.625 10.875z"/>
           <path d="m1125 637.5h-75c-20.625 0-37.5-16.875-37.5-37.5s16.875-37.5 37.5-37.5h75c20.625 0 37.5 16.875 37.5 37.5s-16.875 37.5-37.5 37.5z"/>
           <path d="m971.25 1008.8c-9.75 0-19.125-3.75-26.625-10.875l-52.875-52.875c-14.625-14.625-14.625-38.25 0-52.875s38.25-14.625 52.875 0l52.875 52.875c14.625 14.625 14.625 38.25 0 52.875-7.5 7.5-16.875 10.875-26.625 10.875z"/>
        </svg>

        {{ content|safe }}
    </main>
    <footer>
      <p>
        Updated {{ updated }}<br>
        <a href="https://github.com/achievevaluedaily/manifesto/">GitHub repository for the "Achieve Value Daily" manifesto</a>
      </p>
    </footer>
  </body>
</html>
